!!!
%html
  %head
  %title Modify password
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag 'admin.css'

  %body
    .form-container
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        .form-item
          = f.label :password, "New password", class: "side-label"
          - if @minimum_password_length
            %em
              = ("#{@minimum_password_length}" characters minimum)
          = f.password_field :password, autofocus: true, autocomplete: "off"

        .form-item
          = f.label :password_confirmation, "Confirm new password", class: "side-label"
          = f.password_field :password_confirmation, autocomplete: "off"

        .actions
          = f.submit "Change my password", class: "button"
