.form-container
  = form_for(resource, as: resource_name, url: auth_user_registration_path, html: { method: :put }) do |f|
    = devise_error_messages!

    .form-item
      .side-label
        = f.label :email
      = f.email_field :email, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div Currently waiting confirmation for:
      = resource.unconfirmed_email

    .form-item
      = f.label :current_password, class: "side-label"
      = f.password_field :current_password, autocomplete: "off"

    .form-item
      = f.label :password, "New password", class: "side-label"
      - if @minimum_password_length
        %em "#{@minimum_password_length}" characters minimum
      = f.password_field :password, autofocus: true, autocomplete: "off"

    .form-item
      = f.label :password_confirmation, "Confirm new password", class: "side-label"
      = f.password_field :password_confirmation, autocomplete: "off"

    .actions
      = f.submit "Update my password", class: "light-button horizontal-center"

= link_to "Back to Admin Home", :back, class: "button"
