/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Welcome to the Administrator Home Page!
%br
.subtitle Howdy! What would you like to do?
%br
= link_to("Add a New Administrator", admin_new_user_path, :class => "admin-button")
%br
%br
%br
= link_to("Manage Administrators", admin_show_users_path, :class => "admin-button")
%br
%br
%br
= link_to("Search Incomplete Applications", admin_query_volunteer_path, :class => "admin-button")
%br
%br
%br
= link_to("Change Your Password", edit_auth_user_registration_path, :class => "admin-button")
%br
%br
%br
= button_to('Logout', destroy_auth_user_session_path, :method => :delete, :class => "admin-button")
