/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Incomplete Applications

.search-container
  = form_tag admin_query_volunteer_path, :method => :post do
    = image_submit_tag("icon_find.svg", :class => "find-button")
    #search-box
      = text_field_tag :volunteer_name
  %div{ :style => "width: 140px; margin: auto;"}	
    = button_to "View all", admin_query_volunteer_path, :class => "light-button", :method => "post"

- if request.post?
  - if @volunteers.size < 1
    %em No applications found
  - else
    %table
      %thead
        %tr
          %th Name
          %th Email
      - @volunteers.each do |volunteer|
        %tr
          %td
            = volunteer.Name
          %td
            = volunteer.EmailAddress
          %td.td-button
            = link_to admin_show_volunteer_path(volunteer.uniqueID) do
              .icon-button.file-button.dark-sprites
          %td.td-button
            = link_to admin_delete_volunteer_path(volunteer.uniqueID) do
              .icon-button.del-button.dark-sprites


= link_to("Back to Admin Home", auth_user_root_path, :class => "button")
