/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Incomplete Applications

.search-container
	= form_tag admin_query_volunteer_path, :method => :post do
		= text_field_tag :volunteer_name
		= image_submit_tag("icon_find.svg", :class => "icon-button find-button")

%table
	%thead
		%tr
			%th Name
			%th Email
	- @volunteers.each do |volunteer|
		%tr
			%td
				= link_to volunteer.Name, admin_show_volunteer_path(volunteer.uniqueID)
			%td
				= volunteer.EmailAddress
%br
= link_to("Back to Admin Home", auth_user_root_path, :class => "admin-button")
