/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Review Application

%span.subtitle Volunteer
%br
%br
%span.subtitle
	= "Name:"
= "#{@volunteer.Name}"
%br
%br

%span.subtitle
	= "Date of birth:"
=" #{@volunteer.DateofBirth}"
%br
%br

%span.subtitle 
	= "Email address:"
= " #{@volunteer.EmailAddress}"
%br
%br

%span.subtitle
	= "Phone numbers:"
= " #{@volunteer.HomePhone} (home), #{@volunteer.CellPhone} (mobile)"
%br
%br

%span.subtitle
	= "MailingAddress"
= " #{@volunteer.MailingAddress}"
%br
%br


%span.subtitle
	= "Days available for volunteer:"
= " #{@volunteer.DaysTimesyouwillbeavailabletovolunteer}"
= @volunteer.DaysTimesyouwillbeavailabletovolunteer.to_i > 1 ? "days" : "day"
%br
%br
= button_to "Review Volunteer Application", admin_volunteer_pdf_path(@volunteer.uniqueID), :class => "smaller-button", :method => :get
%br


%span.subtitle 
	= "Reference 1:"
%br
%br
- if @references[0] != nil
	%span.subtitle
		= "Name:"
	= "#{@references[0].ReferenceName}"
	%br
	%br
	= button_to "Review Reference Application", admin_reference_pdf_path(@references[0].uniqueID), :class => "smaller-button", :method => :get
- else
	%span Not received
%br
%br

%span.subtitle 
	= "Reference 2:"
%br
%br
- if @references[1] != nil
	%span.subtitle
		= "Name:"
	= "#{@references[1].ReferenceName}"
	%br
	%br
	= button_to "Review Reference Application", admin_reference_pdf_path(@references[1].uniqueID), :class => "smaller-button", :method => :get
- else
	%span Not received
%br
%br

%span.subtitle 
	= "Reference 3:"
%br
%br
- if @references[2] != nil
	%span.subtitle
		= "Name:"
	= "#{@references[2].ReferenceName}"
	%br
	%br
	= button_to "Review Reference Application", admin_reference_pdf_path(@references[2].uniqueID), :class => "smaller-button", :method => :get
- else
	%span Not received
%br
%br

= button_to "Back to Application List", admin_query_volunteer_path, :class => "smaller-button"