/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Review Application

.review-container
	.review-item
		.review-label Name:
		.review-info
			= "#{@volunteer.Name}"

	.review-item
		.review-label Birth date:
		.review-info
			= "#{@volunteer.DateofBirth}"

		.review-item
			.review-label Email:
			.review-info
				= "#{@volunteer.EmailAddress}"

		.review-item
			.review-label Home Phone:
			.review-info
				= "#{@volunteer.HomePhone}"

		.review-item
			.review-label Cell Phone:
			.review-info
				= "#{@volunteer.CellPhone}"

		.review-item
			.review-label Address:
			.review-info
				= "#{@volunteer.MailingAddress}"

		.review-item
			.review-label Availability:
			.review-info
				= "#{@volunteer.DaysTimesyouwillbeavailabletovolunteer}"
				- if @volunteer.DaysTimesyouwillbeavailabletovolunteer.to_i > 1 then "days"
				- elsif @volunteer.DaysTimesyouwillbeavailabletovolunteer.to_i == 1 then "day"
				- else
					%em None

		= button_to "Review Volunteer Application", admin_volunteer_pdf_path(@volunteer.uniqueID), :class => "review-button light-button", :method => :get

.review-container
	.review-item Reference #1

	- if @references[0] != nil
		.review-label Name:
		.review-info
			= "#{@references[0].ReferenceName}"
		= button_to "Review Reference Application", admin_reference_pdf_path(@references[0].uniqueID), :class => "review-button light-button", :method => :get
	- else
		.review-info
			%em Not received

.review-container
	.review-item Reference #2

	- if @references[1] != nil
		.review-label Name:
		.review-info
			= "#{@references[1].ReferenceName}"
		= button_to "Review Reference Application", admin_reference_pdf_path(@references[1].uniqueID), :class => "review-button light-button", :method => :get
	- else
		.review-info
			%em Not received

.review-container
	.review-item Reference #3

	- if @references[2] != nil
		.review-label Name:
		.review-info
			= "#{@references[2].ReferenceName}"
		= button_to "Review Reference Application", admin_reference_pdf_path(@references[2].uniqueID), :class => "review-button light-button", :method => :get
	- else
		.review-info
			%em Not received

= button_to "Back to Application List", admin_query_volunteer_path, :class => "button"
