/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Emergency Notification

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction 
-# Form data is sent to the page specified in the action attribute

.subtitle Please list a person to contact in the event of an emergency.
%br
%br
=form_tag welcome_emergency_notification_path, :method => :post do
  .form-item
    %span.subtitle *Indicates a required field.
    %br
    %span.subtitle *Name
    = text_field_tag(:emergency_name, @emergency_name)

  .form-item
    %span.subtitle *Primary Phone Number 
    = text_field_tag(:emergency_primary_phone, @emergency_primary_phone)

  .form-item
    %span.subtitle Alternate Phone Number 
    = text_field_tag(:emergency_secondary_phone, @emergency_secondary_phone)

  .form-item
    %span.subtitle *Address
    = text_field_tag(:emergency_address, @emergency_address)

  .form-item
    %span.subtitle *Relationship
    = text_field_tag(:emergency_relationship, @emergency_relationship)
  
  .form-item  
    = submit_tag 'Continue', :class => "button"