/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and 
/ related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Experience

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction 
-# Form data is sent to the page specified in the action attribute

/ params: 
/ = params

= form_tag welcome_experience_path, :method => :post, :id => :experience_form do 

  / hidden input to save the nof_experiences
  = hidden_field_tag "nof_experiences", params[:nof_experiences]

  .form-item
    %span Please list any previous Volunteer experience, particularly in working with children and families:

  %table{:style => "width:100%"}
    %thead
      %tr
        %td Length of Time
        %td Organization
        %td Responsabilities
    %tbody
      - params[:nof_experiences].to_i.times do |i|
        %tr
          %td
            .form-item
              = text_area_tag "length_of_time_#{i}", params["length_of_time_#{i}"]
          %td
            .form-item
              = text_area_tag "organization_#{i}", params["organization_#{i}"]
          %td
            .form-item
              = text_area_tag "responsabilities_#{i}", params["responsabilities_#{i}"]

  = submit_tag 'New Experience'

  %br
  %br
  %br

  .form-item
    %span Do you have any experience with:
    %br
    %br
    %span Child Abuse?
    = check_box_tag "child_abuse_check", nil, params["child_abuse_check"]
    %br
    %span If Yes, explain why:
    = text_area_tag "child_abuse_text", params["child_abuse_text"]
    
    %br
    %span Foster Care?
    = check_box_tag "foster_care_check", nil, params["foster_care_check"]
    %br
    %span If Yes, explain why:
    = text_area_tag "foster_care_text", params["foster_care_text"]

    %br
    %span Criminal, Junenile or Family Court System?
    = check_box_tag "criminal_check", nil, params["criminal_check"]
    %br
    %span If Yes, explain why:
    = text_area_tag "criminal_text", params["criminal_text"]

    %br
    %span Other Child Service Agencies?
    = check_box_tag "agency_check", nil, params["agency_check"]
    %br
    %span If Yes, explain why:
    = text_area_tag "agency_text", params["agency_text"]

  .form-item  
    = submit_tag 'Continue', :class => "button"