/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and 
/ related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Experience

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction 
-# Form data is sent to the page specified in the action attribute

/ params: 
/ = params

%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/style"}

= form_tag welcome_experience_path, :method => :post, :id => :experience_form do 

  / hidden input to save the nof_experiences
  = hidden_field_tag "nof_experiences", params[:nof_experiences]

  .form-item
    %span.subtitle Please list any previous Volunteer experience, particularly in working with children and families:

  %table{:style => "width:100%", :id => "experiences", :border => "0px"}
    %thead
      %tr
        %td Length of Time
        %td Organization
        %td Responsibilities
    %tbody
      - params[:nof_experiences].to_i.times do |i|
        - i = i + 1
        %tr
          %td
            .form-item
              = text_area_tag "length_of_time_#{i}", eval("@length_of_time_#{i}")
          %td
            .form-item
              = text_area_tag "organization_#{i}", eval("@organization_#{i}")
          %td
            .form-item
              = text_area_tag "responsibilities_#{i}", eval("@responsibilities_#{i}")

  = submit_tag 'Add Experience', :class => "button"

  %br
  %br
  %br

  .form-item
    %span.subtitle Do you have any experience with:
    %br
    %br
    %span Child Abuse?
    = check_box_tag :child_abuse_check, "Yes", @child_abuse_check

    %br
    %span.subtitle If Yes, explain why:
    = text_area_tag :child_abuse_text, @child_abuse_text
    
    %br
    %span.subtitle Foster Care?
    = check_box_tag :foster_care_check, "Yes", @foster_care_check
    %br
    %span.subtitle If Yes, explain why:
    = text_area_tag :foster_care_text, @foster_care_text

    %br
    %span.subtitle Criminal, Juvenile or Family Court System?
    = check_box_tag :criminal_check, "Yes", @criminal_check
    %br
    %span.subtitle If Yes, explain why:
    = text_area_tag :criminal_text, @criminal_text

    %br
    %span.subtitle Other Child Service Agencies?
    = check_box_tag :agency_check, "Yes", @agency_check
    %br
    %span.subtitle If Yes, explain why:
    = text_area_tag :agency_text, @agency_text

  .form-item  
    = submit_tag 'Continue', :class => "button"
