/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title General Information

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction
-# Form data is sent to the page specified in the action attribute

=form_tag welcome_general_info_path, :method => :post do
  .form-item
    %span.subtitle How did you learn about Scotty's House and our volunteer program?
    = text_area_tag(:program_source, @program_source)

  .form-item
    %span.subtitle What would you like to gain from your volunteer experience?
    = text_area_tag(:experience_gain, @experience_gain)

  .form-item
    %span.subtitle What are you volunteering for?
    %br
    = radio_button_tag(:reason, "class_credit", @reason_class_credit)
    = label_tag(:reason_class_credit, "Class Credit")
    %br
    %span.subtitle Please provide the name of your instructor.
    = text_field_tag(:instructor_name, @instructor_name)

    = radio_button_tag(:reason, "org_credit", @reason_org_credit)
    = label_tag(:reason_org_credit, "Organization Credit")
    %br
    %span.subtitle Please provide the name of your organization.
    = text_field_tag(:organization_name, @organization_name)

    = radio_button_tag(:reason, "other")
    = label_tag(:reason_other, "Other")
    %br
    %span.subtitle Please explain.
    = text_field_tag(:explanation, @explanation)

  .form-item
    %span.subtitle Are you currently employed?
    = radio_button_tag(:employed, "yes")
    = label_tag(:employed_yes, "Yes")

    = radio_button_tag(:employed, "no")
    = label_tag(:employed_no, "No")
    %br
    %span.subtitle Name of employer:
    = text_field_tag(:employer_name, @employer_name)

  .form-item
    = submit_tag 'Continue', :class => "button center-horizontal"
