/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Skills and Special Abilities

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction
-# Form data is sent to the page specified in the action attribute

=form_tag welcome_skills_path, :method => :post do
  .form-item
    %span.subtitle Do you speak any languages other than English?
    = check_box_tag(:multilingual_speaker, "Yes", @multilingual_speaker)

    %br
    %span.subtitle If so, what language(s)?
    = text_field_tag(:speaking_languages, @speaking_languages)

  .form-item
    %span.subtitle Do you read/write in any language other than English?
    = check_box_tag(:multilingual_reader, "Yes", @multilingual_reader)

    %br
    %span.subtitle If so, what language(s)?
    = text_field_tag(:reading_languages, @reading_languages)

  .form-item
    %span.subtitle Do you have any experience with blind or hearing impaired persons?
    = check_box_tag(:impaired_experience, "Yes", @impaired_experience)

    %br
    %span.subtitle If so, in what capacity?
    = text_area_tag(:impaired_capacity, @impaired_capacity)

  .form-item
    %span.subtitle Do you have any experience with handicapped persons?
    = check_box_tag(:handicapped_experience, "Yes", @handicapped_experience)

    %br
    %span.subtitle If so, in what capacity?
    = text_area_tag(:handicapped_capacity, @handicapped_capacity)

  .form-item
    = submit_tag 'Continue', :class => "button center-horizontal"
