/ Scotty's House Volunteer WebForm
/ Written in 2016 by:
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Volunteer Application

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction
-# Form data is sent to the page specified in the action attribute

=form_tag welcome_volunteer_path, :method => :post do
  .form-item
    %span.subtitle *Indicates a required field.
    %br
    %span.subtitle *Name:
    = text_field_tag(:name, @name)

  .form-item
    %span.subtitle *Date of Birth:
    = text_field_tag(:birth, @birth)

  .form-item
    %span.subtitle *Email Address:
    = text_field_tag(:email, @email)

  .form-item
    %span.subtitle *Primary Phone:
    = text_field_tag(:home_phone, @home_phone)

  .form-item
    %span.subtitle Secondary Phone:
    = text_field_tag(:cell_phone, @cell_phone)

  .form-item
    %span.subtitle *Street Address / Appartment Number:
    = text_field_tag(:street, @street)

  .form-item
    %span.subtitle *City:
    = text_field_tag(:city, @city)

  .form-item
    %span.subtitle *State:
    = text_field_tag(:state, @state)

  .form-item
    %span.subtitle *Zip Code:
    = text_field_tag(:zip, @zip)

  .form-item
    %span Scotty's House Child Advocacy Center has several opportunities for Volunteers. All types of Volunteers
    are needed to make services available to families in our community, and we value any skills you may have to
    help us improve the community in which we live. Listed below are the current volunteer opportunities available
    at Scotty's House. Please check the areas in which you are interested:
    %br
    = check_box_tag(:family, "Yes", @family_care)
    = "Family Care"
    %br
    = check_box_tag(:ambassador, "Yes", @ambassador)
    = "Ambassador"
    %br
    = check_box_tag(:virtual, "Yes", @virtual_volunteer)
    = "Virtual Volunteer"
    %br
    = check_box_tag(:medical, "Yes", @medical_volunteer)
    = "Medical Volunteer"
    %br
    = check_box_tag(:counseling, "Yes", @counseling_internship)
    = "Program/Counseling Internship"
    %br
    %br
    = check_box_tag(:outlying, "Yes", @outlying_county)
    = "Outlying County Ambassador Program"
    %br
    = "County:"
    /*Longest county name in Texas appears to be San Augistine, which is 13*/
    = text_field_tag(:county, @county)
    %br
    %br
    = check_box_tag(:additional2, "Yes", @additionl_opportunities)
    = "Additional Volunteer Opportunities"
    %br
    %span If you have Additional Volunteer Opportunities, please specify:
    = text_area_tag(:additional, @additional)

  .form-item
    %span Days/Times you will be able to volunteer:
    = text_area_tag(:times, @times)

  .form-item
    = submit_tag 'Continue', :class => "button center-horizontal"
    -if flash[:review]
      %br
      %br
      = link_to "Back to Review", welcome_review_path, :class => "button center-horizontal"
      
