/ Scotty's House Volunteer WebForm
/ Written in 2016 by: 
/ Gustavo Estrela
/ Logan Ford
/ Patrick Herrington
/ Noemie Nakamura
/ Steven Snow
/ Matthew Wiecek
/ To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide. This software is distributed without any warranty.
/ You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.

.main-title Volunteer Application

-# The method attribute specifies how to send form data (GET or POST)
-# GET is default and appends the data to the URL in name/value pairs URL?name=value&name=value
-# POST sends data as HTTP post transaction 
-# Form data is sent to the page specified in the action attribute

=form_tag welcome_volunteer_path, :method => :post do
  .form-item
    %span Name:
    = text_field_tag(:name, @name, :maxlength => "20")
  
  .form-item
    %span Date of Birth:
    = text_field_tag(:birth, @birth, :maxlength => "10", :placeholder => "MM/DD/YYYY")
    
  .form-item
    %span Email Address:
    = text_field_tag(:email, @email, :maxlength => "30")
    
  .form-item
    %span Phone Number(s):
    = text_field_tag(:phone, @phone, :maxlength => "30")
    
  .form-item
    %span Mailing Address:
    = text_field_tag(:address, @address, :maxlength => "30")
    
  .form-item
    %span Scotty's House Child Advocacy Center has several opportunities for Volunteers. All types of Volunteers
    are needed to make services available to families in our community, and we value any skills you may have to
    help us improve the community in which we live. Listed below are the current volunteer opportunities available 
    at Scotty's House. Please check the areas in which you are interested:
    %br
    = check_box_tag(:family, "Yes", @family_care)
    = "Family Care"
    %br
    = check_box_tag(:ambassador, "Yes", @ambassador)
    = "Ambassador"
    %br
    = check_box_tag(:virtual, "Yes", @virtual_volunteer)
    = "Virtual Volunteer"
    %br
    = check_box_tag(:medical, "Yes", @medical_volunteer)
    = "Medical Volunteer"
    %br 
    = check_box_tag(:counseling, "Yes", @counseling_internship)
    = "Program/Counseling Internship"
    %br 
    %br
    = check_box_tag(:outlying, "Yes", @outlying_county)
    = "Outlying County Ambassador Program"
    %br
    = "County:"
    /*Longest county name in Texas appears to be San Augistine, which is 13*/
    = text_field_tag(:county, @county, :maxlength => "13")
    %br
    %br
    = check_box_tag(:additional, "Yes", @additionl_opportunities)
    = "Additional Volunteer Opportunities"
    %br
    %span If you have Additional Volunteer Opportunities, please specify:
    = text_area_tag(:additional, @additional, :maxlength => "30")
    
  .form-item
    %span Days/Times you will be able to volunteer:
    = text_area_tag(:times, @times, :maxlength => "60")
    
  .form-item  
    = submit_tag 'Continue', :class => "button"
 
